.registerContainer {
    align-items: center;
    background-color: #1B1B1B;
    padding: 20px;
    border-radius: 5px;
    width: 380px;
    height: 400px;
    margin: auto;
}

.registerContainer form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.registerContainer input {
    background-color: #282727;
    height: 30px;
    color: #D9D9D9;
    font-family: 'Poppins';
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    border: none;
}

.registerContainer select {
    background-color: #282727;
    height: 35px;
    color: #D9D9D9;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    border: none;
    cursor: pointer;
}

.registerContainer option {
    color: #D9D9D9;
    font-family: 'Poppins';
}

.registerContainer p {
    color: #BCBCBC;
    font-family: 'Poppins';
    font-size: 10px;
    padding-top: 10px;
}

.registerContainer a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-style: italic;
    margin-top: 5px;
    cursor: pointer;
}

.registerContainer button {
    margin-top: 10px;
    font-size: 12px;
    box-sizing: border-box;
}

.registerButton {
    background-color: #A82122;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: bold;
    width: 125px;
    height: 25px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelButton {
    background-color: #BCBCBC;
    color: #1E1E1E;
    font-family: 'Poppins';
    font-weight: bold;
    width: 125px;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}